{% extends "user/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/user_rent_pay_post/">
    {% csrf_token %}

    <input type="hidden" name="feenotificationsubid" value="{{ feenotificationsubid }}">

  <table width="200" border="1">
    <tr>
      <td>Account number</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>IFSC code</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
      <tr>
           <td>Amount</td>
      <td><input type="text" name="textfield4" value="{{ rent }}" id="textfield3" /></td>

      </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="set
     " /></td>
    </tr>
  </table>
</form>
{% endblock %}