{% extends "admins/index.html" %}
{% block body %}


<form action="/myapp/admin_addvehicle_post/#hai" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table class="table table-bordered">
  <tr>
    <th width="180px">Vehicle Regno</th>
    <td><input type="text" name="textfield" id="textfield" class="form-control" pattern="[A-Za-z0-9]{1,}" title="Please enter a valid vehicle registration number without spaces" required /></td>
  </tr>
  <tr>
    <th>Vehicle Model</th>
    <td><input type="text" name="textfield1" id="textfield" class="form-control" pattern="[A-Z a-z]+" required  /></td>
  </tr>
  <tr>
    <th>Engine Number</th>
    <td><input type="text" name="textfield2" id="textfield" class="form-control" pattern="^(?!.*(.)\1{2,})[A-Za-z0-9]+$" required  title="Please enter a valid engine number without spaces"  /></td>
<!--    <td><input type="text" name="textfield2" id="textfield" class="form-control" pattern="^(?!.*([A-Za-z0-9])\1{2,}[A-Za-z0-9]+$" required  title="Please enter a valid engine number without spaces"  /></td>-->
  </tr>
  <tr>
    <th>Total seats</th>
    <td><input type="number" name="textfield3" id="textfield2" class="form-control" pattern="[0-9]{8}" max="8" required min="1" /></td>
  </tr>
  <tr>
    <th>Ac </th>
    <td><select name="select" id="select" class="form-control" required>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select></td>
  </tr>
  <tr>
    <th>Vehicle Type</th>
    <td><select name="select2" id="select2" class="form-control" required>
      <option value="SUV">SUV</option>
      <option value="HATCHBACK">HATCHBACK</option>
      <option value="SEDAN">SEDAN</option>
      <option value="BIKES">BIKES</option>

    </select></td>
  </tr>

    <tr>
    <th>Choose Photo</th>
    <td><input type="file" name="file" id="textfield" class="form-control" required /></td>
  </tr>

    <tr>
    <th>Choose Rc</th>
    <td><input type="file" name="file1" id="textfield" class="form-control" required /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
  </tr>
</table>
</form>

{% endblock %}
