{% extends "admins/index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/myapp/admin_changepas_post/#hai">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th width="180px">Current password</th>
      <td><input type="password" name="textfield" id="textfield" required class="form-control"/></td>
    </tr>
    <tr>
      <th>New password</th>
      <td><input type="password" name="textfield2" id="textfield2" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Confirm password</th>
      <td><input type="password" name="textfield3" id="textfield3" required class="form-control" /></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td><input type="submit" name="button" id="button" class="btn btn-success" value="Change Password" /></td>
    </tr>
  </table>
</form>
{% endblock %}