2{% extends "admins/index.html" %}
{% block body %}
<form action="/myapp/admin_view_vehicle_post/#hai" method="post">
{% csrf_token %}
<table class="pull-left">
  <tr>
    <td><input type="text" name="textfield" id="textfield" class="form-control" /></td>
    <td><input type="submit" name="button" id="button" value="search" class="btn btn-success" /></td>
  </tr>
</table>
<br>
<table class="table table-bordered" border="1">
  <tr>
    <th>Sno</th>
    <th colspan="2">Regno</th>
    <th>Model</th>
    <th>EngineNo</th>
    <th>Seats</th>
    <th>Ac</th>
    <th>Type</th>
      <th></th>
      <th></th>

  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.vehicleregno }}</td>
    <td> <img src=" {{ i.photo }}" width="100px" height="100px">
       </td>
        <td>&nbsp;{{ i.vehiclemodel }}</td>
    <td>&nbsp;{{ i.enginenumber }}</td>
    <td>{{ i.totalseats }}</td>
    <td>{{ i.ac_nonac }}</td>
    <td>{{ i.vehicletype }}</td>
    <td width="50px">
       <a href="/myapp/admin_edit_vehicles/{{ i.id }}#hai" class="btn btn-warning">Edit</a>
  </td>
   <td width="50px">
      <a href="/myapp/admin_delete_vehicles/{{ i.id }}#hai" onclick="return confirm('Are you sure to delete')" class="btn btn-danger">Delete</a>

  </td>


  </tr>
    {% endfor %}
</table>

</form>

{% endblock %}
