<!--{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}-->
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/myapp/login_post/">#}
{#    {% csrf_token %}#}
{#  <table width="409" border="1">#}
{#    <tr>#}
{#      <td width="120">USERNAME</td>#}
{#      <td width="273"><input type="text" name="textfield" id="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>PASSWORD</td>#}
{#      <td><input type="text" name="textfield2" id="textfield2" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td height="57"><input type="submit" name="button" id="button" value="login" /></td>#}
{#      <td><a href="#">forgot password</a></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}



<html lang="zxx">

<head>
    <title>Merged Forms Page Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Merged Forms Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
     <link rel="stylesheet" href="/static/login/css/login.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body>
   <!-- /form-26-section -->
   <section class="form-26">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div class="forms-26-info">
						 <h2>Forgot Password</h2>
                        <p>Live with no excuses and travel with no regrets</p>
                    </div>
					<div class="form-right-inf">
							<form method="post" action="/myapp/forget_password_post/" class="signin-form">
                                {% csrf_token %}
							 <div class="forms-gds">
								<div>
<!--									<input type="email" name="textfield" placeholder="Email" required />-->
								</div>
								 <div  class="form-input">
									<input type="email" name="textfield2" placeholder="Enter Email Here" required />
								</div>
								<div  class="form-input"><button class="btn">Reset</button></div>
							</div>
<!--							<h6 class="already"> Dont have an account? <a href="/myapp/user_signup/"><span>Register Here<span></span></span></a></h6>-->
<!--							<h6 class="already"> Dont have an account? <a href="/myapp/user_signup/"><span>Forgot Password<span></span></span></a></h6>-->
						</form>

                    </div>
				<div class="copyright text-center">
                    <p>© 2023 Design By  <a href="http://w3layouts.com/"
                            target="_blank"> K-CABS</a></p>
                </div>
                </div>

			</div>
		</div>
		    </div>
		</section>
      <!-- //form-26-section -->
</body>
</html>